
<div class="col-12">
  <div class="container">
    <div id="about">
      <h1 class="title-main love-light-regular">Sunjun Hwang</h1>
      <h3 class="text-center">ホワン　サンジュン</h3>
      <%# <div class="tab-bar" id="language-tabs">
        <ul class="list-inline tabs-underlined" style="margin-bottom: 0px;">
          <li>
            <span class="language-tab" id="english-tab">English</span>
          </li>
          |
          <li>
            <span class="language-tab" id="japanese-tab">日本語</span>
          </li>
        </ul>
      </div> %>
      <p class="text-center english">Full-stack web developer, Japanese-English translator, writer, and video editor.<br>
      Likes making things, being creative, and singing karaoke badly.<br>Dislikes following the status quo, crowded trains, and 100% keyboards.</p>
      <p class="text-center japanese d-none">フルスタックウェブ開発者、日英翻訳者、執筆者、動画編集者。<br>
      作ること、創造的のこと、カラオケを下手に歌うことが好き。<br>
      現状維持、満員電車、100％キーボードが嫌い。</p>
      <div class="socials d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/Junichoco", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/sunjun-hwang/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>

    </div>
  </div>
</div>
