
<div class="col-12">
  <div class="container">
    <div id="about">
      <h1 class="title-main love-light-regular">Sunjun Hwang</h1>
      <h3 class="text-center">ホワン　サンジュン</h3>
      <p class="text-center">フルスタックウェブ開発者、日英翻訳者、執筆者、動画編集者。<br>
      作ること、創造的のこと、カラオケを下手に歌うことが好き。<br>
      現状維持、満員電車、100％キーボードが嫌い。</p>
      <div class="socials d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/Junichoco", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/sunjun-hwang/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>

    </div>
  </div>
</div>
