<div class="row justify-content-center banner">
  <div class="landscape-photo d-flex flex-column justify-content-center align-items-center">
    <%= image_tag 'meijimura.jpg', class: 'photo' %>
    <div class="caption">
      <span class="english">Art should disturb the comfortable<br>and comfort the disturbed.</span>
      <span class="japanese d-none">芸術は快適な者に乱しを与え、<br>乱される者に快適さを与えべき。</span>
    </div>
  </div>
</div>
