
<div class="col-12">
  <div class="container">
    <div id="about">
      <div id="favorites" class="tab-section tab-hidden d-none">
        <div class="english">
          <h2 class="rubik-dirt-regular">Favorites</h2>
          <div class="favorites-container" >
            <h3>Favorite Anime <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgw8BFHgmrsXsiQ_57SHlTm0wxrJe7EzJjUpAWpCxsugS5yCkMZPUhCx_a2sLSVJL1_vH3T258oiLivTeN6DEuBvre5H_ue6QNvskcJO13FCZ9r_bN3ySIB1NUP9cp8MwSES1NnxMfMzBOQ/s800/tv_boy_chikaku.png" alt="anime" class="illust"></h3>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>Every Love Live! series</p>
                  <p>Digimon Adventure</p>
                  <p>Non Non Biyori</p>
                  <p>The Aquatope on White Sand</p>
                  <p>Jojo's Bizarre Adventure</p>
                  <p>Golden Kamuy</p>
                  <p>Vinland Saga</p>
                  <p>Zombieland Saga</p>
                  <p>Oban Star-Racers</p>

                </div>
            </div>


            <h3>Favorite Manga <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIDd3YVJn1m_pEQmIy8YE89VDPB2fMg24p0tWOJd4aJZqJgshkFu18jujVUvLtZ9dJ4mxa6gESGSTsHkrOamBj5Jp7I1-NaNvsUnz-kL7DtAObyZQrFNgbHWmeQw8lOlHBmLRSSyJTH5bf/s800/comic_jissyaka.png" alt="manga" class="illust"></h3>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>One Piece</p>
                  <p>Death Note</p>
                  <p>Yatogame-chan Kansatsu Nikki</p>
                  <p>Shoulder-a-Coffin Kuro</p>
                  <p>GA Geijutsu Art Design Class</p>
                  <p>Bakuman</p>
              </div>
            </div>

            <h3>Favorite Games <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhu5D_XHtdf687ZXtM1LDOoeETWbcfv2j7TM_a14syzXIoaT61DeTq7WODIjjwTUisZMn3O5O9GBwGdyvLEa7zzLFA594ko_pqr56CUhFHtoJPYSbjEmSUMLsJxq7Dpuf2iOjJqEWkzmkWM/s800/game_friends_keitai_boy_oritatami.png" alt="game" class="illust"></h3>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>Rune Factory series</p>
                  <p>The World Ends with You</p>
                  <p>Danganronpa series</p>
                  <p>Muramasa: The Demon Blade</p>
                  <p>Sonic Adventure 2</p>
                </div>
            </div>

            <h3>Favorite Artists/Bands <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjlXrABXH8pQKmmBf5HbKWa0MtZiuT5zZMUlB3nS6SdQ_S9JvvpeoIWeCMmcqTGoG8uMYiXMHgzcDlG8lJTxkfjpvYbvYFGF8guS_PwGc98TUNIeanrC5nG_6TWOqYdk2FhX3IZc5ipiHTJ/s800/music_recording_singer_woman.png" alt="artists" class="illust"></h3>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>DAOKO</p>
                  <p>Yousei Teikoku</p>
                  <p>Soutaisei Riron</p>
                  <p>Yakushimaru Etsuko</p>
                  <p>KAF</p>
                  <p>ALI</p>
                  <p>Tenpei Satou</p>
                  <p>Masafumi Takada</p>
                  <p>Fumie Kumatani</p>
                  <p>Jun Senoue</p>
                  <p>Every Love Live! group</p>
                </div>
            </div>

            <h3>Favorite Books <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiFxSL3yvsonwDrRfiAEXQKpolM7ULET1HUTc9rhNGKzHEacVuMuk30DewVpzdBfuT3u54mSE4uPwV-SziFzJoUZy_CO9CgWfkv06N44ekds1IGS6R6cTfrTgMDoxWEUOc45yt-EpQjueQl/s800/dokusyo_kids.png" alt="books" class="illust"></h3>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>11/22/63</p>
                  <p>Fablehaven series</p>
                  <p>Beyonders series</p>
                  <p>The Keys to the Kingdom series</p>
                  <p>The Elegance of the Hedgehog</p>
                </div>
            </div>
          </div>
        </div>
        <div class="japanese d-none">
          <h2 class="rubik-dirt-regular">好きなもの</h2>
          <div class="favorites-container" >
            <div class="section-subheader">
              <h3>好きなアニメ</h3> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgw8BFHgmrsXsiQ_57SHlTm0wxrJe7EzJjUpAWpCxsugS5yCkMZPUhCx_a2sLSVJL1_vH3T258oiLivTeN6DEuBvre5H_ue6QNvskcJO13FCZ9r_bN3ySIB1NUP9cp8MwSES1NnxMfMzBOQ/s800/tv_boy_chikaku.png" alt="anime" class="illust">
            </div>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>ラブライブ！全シリーズ</p>
                  <p>デジモンアドベンチャー</p>
                  <p>のんのんびより</p>
                  <p>白い砂のアクアトープ</p>
                  <p>ジョジョの奇妙な冒険</p>
                  <p>ゴールデンカムイ</p>
                  <p>ヴィンランドサガ</p>
                  <p>ゾンビランドサガ</p>
                  <p>オーバン・スターレーサーズ</p>
                </div>
            </div>

            <div class="section-subheader">
              <h3>好きな漫画</h3> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIDd3YVJn1m_pEQmIy8YE89VDPB2fMg24p0tWOJd4aJZqJgshkFu18jujVUvLtZ9dJ4mxa6gESGSTsHkrOamBj5Jp7I1-NaNvsUnz-kL7DtAObyZQrFNgbHWmeQw8lOlHBmLRSSyJTH5bf/s800/comic_jissyaka.png" alt="manga" class="illust">
            </div>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>ワンピース</p>
                  <p>デスノート</p>
                  <p>八十亀ちゃんかんさつにっき</p>
                  <p>棺担ぎのクロ</p>
                  <p>GA 芸術科アートデザインクラス</p>
                  <p>バクマン。</p>
              </div>
            </div>

            <div class="section-subheader">
              <h3>好きなゲーム</h3> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhu5D_XHtdf687ZXtM1LDOoeETWbcfv2j7TM_a14syzXIoaT61DeTq7WODIjjwTUisZMn3O5O9GBwGdyvLEa7zzLFA594ko_pqr56CUhFHtoJPYSbjEmSUMLsJxq7Dpuf2iOjJqEWkzmkWM/s800/game_friends_keitai_boy_oritatami.png" alt="game" class="illust">
            </div>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>ルーンファクトリーシリーズ</p>
                  <p>すばらしきこのせかい</p>
                  <p>ダンガンロンパシリーズ</p>
                  <p>朧村正</p>
                  <p>ソニックアドベンチャー2</p>
                </div>
            </div>

            <div class="section-subheader">
              <h3>好きな歌手やバンド</h3> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjlXrABXH8pQKmmBf5HbKWa0MtZiuT5zZMUlB3nS6SdQ_S9JvvpeoIWeCMmcqTGoG8uMYiXMHgzcDlG8lJTxkfjpvYbvYFGF8guS_PwGc98TUNIeanrC5nG_6TWOqYdk2FhX3IZc5ipiHTJ/s800/music_recording_singer_woman.png" alt="artists" class="illust">
            </div>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>DAOKO</p>
                  <p>妖精帝國</p>
                  <p>相対性理論</p>
                  <p>やくしまるえつこ</p>
                  <p>花譜</p>
                  <p>ALI</p>
                  <p>佐藤天平</p>
                  <p>高田 雅史</p>
                  <p>熊谷 文恵</p>
                  <p>瀬上 純</p>
                  <p>ラブライブ！全グループ</p>
                </div>
            </div>

            <div class="section-subheader">
              <h3>好きな本</h3> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiFxSL3yvsonwDrRfiAEXQKpolM7ULET1HUTc9rhNGKzHEacVuMuk30DewVpzdBfuT3u54mSE4uPwV-SziFzJoUZy_CO9CgWfkv06N44ekds1IGS6R6cTfrTgMDoxWEUOc45yt-EpQjueQl/s800/dokusyo_kids.png" alt="books" class="illust">
            </div>
            <div class="favorites-section">
              <div class="favorites-list gradient-blue">
                  <p>11/22/63</p>
                  <p>Fablehaven リーズ</p>
                  <p>Beyonders シリーズ</p>
                  <p>The Keys to the Kingdom シリーズ</p>
                  <p>優雅なハリネズミ</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
