
<div class="col-12">
  <div class="container">
    <div id="about">
      <div id="favorites" class="tab-section tab-hidden d-none">
        <h2 class="rubik-dirt-regular">好きなもの</h2>
        <div class="favorites-container" >
          <h3>好きなアニメ <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgw8BFHgmrsXsiQ_57SHlTm0wxrJe7EzJjUpAWpCxsugS5yCkMZPUhCx_a2sLSVJL1_vH3T258oiLivTeN6DEuBvre5H_ue6QNvskcJO13FCZ9r_bN3ySIB1NUP9cp8MwSES1NnxMfMzBOQ/s800/tv_boy_chikaku.png" alt="anime" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-blue">
                <p>ラブライブ! 全シリーズ</p>
                <p>デジモンアドベンチャー</p>
                <p>のんのんびより</p>
                <p>白い砂のアクアトープ</p>
                <p>ジョジョの奇妙な冒険</p>
                <p>ゴールデンカムイ</p>
                <p>ヴィンランドサガ</p>
                <p>ゾンビランドサガ</p>
                <p>オーバン・スターレーサーズ</p>

              </div>
          </div>


          <h3>好きな漫画 <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIDd3YVJn1m_pEQmIy8YE89VDPB2fMg24p0tWOJd4aJZqJgshkFu18jujVUvLtZ9dJ4mxa6gESGSTsHkrOamBj5Jp7I1-NaNvsUnz-kL7DtAObyZQrFNgbHWmeQw8lOlHBmLRSSyJTH5bf/s800/comic_jissyaka.png" alt="manga" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-blue">
                <p>ワンピース</p>
                <p>デスノート</p>
                <p>八十亀ちゃんかんさつにっき</p>
                <p>棺担ぎのクロ</p>
                <p>GA 芸術科アートデザインクラス</p>
                <p>バクマン。</p>
            </div>
          </div>

          <h3>好きなゲーム <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhu5D_XHtdf687ZXtM1LDOoeETWbcfv2j7TM_a14syzXIoaT61DeTq7WODIjjwTUisZMn3O5O9GBwGdyvLEa7zzLFA594ko_pqr56CUhFHtoJPYSbjEmSUMLsJxq7Dpuf2iOjJqEWkzmkWM/s800/game_friends_keitai_boy_oritatami.png" alt="game" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-blue">
                <p>ルーンファクトリーシリーズ</p>
                <p>すばらしきこのせかい</p>
                <p>ダンガンロンパシリーズ</p>
                <p>朧村正</p>
                <p>ソニックアドベンチャー2</p>
              </div>
          </div>

          <h3>好きな歌手やバンド <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjlXrABXH8pQKmmBf5HbKWa0MtZiuT5zZMUlB3nS6SdQ_S9JvvpeoIWeCMmcqTGoG8uMYiXMHgzcDlG8lJTxkfjpvYbvYFGF8guS_PwGc98TUNIeanrC5nG_6TWOqYdk2FhX3IZc5ipiHTJ/s800/music_recording_singer_woman.png" alt="artists" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-blue">
                <p>DAOKO</p>
                <p>妖精帝國</p>
                <p>相対性理論</p>
                <p>やくしまるえつこ</p>
                <p>花譜</p>
                <p>ALI</p>
                <p>佐藤天平</p>
                <p>高田 雅史</p>
                <p>熊谷 文恵</p>
                <p>瀬上 純</p>
                <p>ラブライブ! 全グループ</p>
              </div>
          </div>

          <h3>好きな本 <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiFxSL3yvsonwDrRfiAEXQKpolM7ULET1HUTc9rhNGKzHEacVuMuk30DewVpzdBfuT3u54mSE4uPwV-SziFzJoUZy_CO9CgWfkv06N44ekds1IGS6R6cTfrTgMDoxWEUOc45yt-EpQjueQl/s800/dokusyo_kids.png" alt="books" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-blue">
                <p>11/22/63</p>
                <p>Fablehaven リーズ</p>
                <p>Beyonders シリーズ</p>
                <p>The Keys to the Kingdom シリーズ</p>
                <p>優雅なハリネズミ</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
