<div class="col-12">
  <div class="container">
    <div id="tabs">
      <div class="tab-bar" id="tab-bar">
        <ul class="list-inline tabs-underlined">
          <li>
            <span id="tech-tab" class="tab-underlined">
              <span class="english">
                Tech Stack
              </span>
              <span class="japanese tabs-bar-japanese d-none">
                テックスタック
              </span>
            </span>
          </li>
          <li>
            <span id="projects-tab" class="tab-underlined">
              <span class="english">
                Projects
              </span>
              <span class="japanese tabs-bar-japanese d-none">
                プロジェクト
              </span>
            </span>
          </li>
          <li>
            <span id="favorites-tab" class="tab-underlined">
              <span class="english">
                Favorites
              </span>
              <span class="japanese tabs-bar-japanese d-none">
                好きなもの
              </span>
            </span>
          </li>
          <li>
            <span id="forbidden-tab" class="tab-underlined">
              <span class="english">
                Forbidden
              </span>
              <span class="japanese tabs-bar-japanese d-none">
                禁忌
              </span>
             </span>
          </li>
        </ul>
      </div>

      <div id="click-here">
        <i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i>
        <p><strong>
          <span class="english">Click</span>
          <span class="japanese d-none">クリック</span>
        </strong></p>
      </div>

    </div>
  </div>
</div>
