
<div class="col-12">
  <div class="container">
    <div id="tech">
      <div id="tech-stack" class="tab-section tab-hidden d-none">
        <h2 class="rubik-dirt-regular">Tech Stack</h2>
        <div class="favorites-container">
          <h3>Programming<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjhW-EWKoRQKdpR-GQhA3uGitJpJp3_g8DjFAT8jRx09gO3dMAb1rcFxmh4vq2vRCUhDYdUJFlpzOLdGgV60KOqTEo17Uwi9TgTSIRbVtV138GNPaddDkcP1usZqggKc9-DX4Nuhr1XWYTv/s800/computer_programming_man.png" alt="tech" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-purple">
              <p>HTML</p>
              <p>CSS</p>
              <p>Bootstrap</p>
              <p>Javascript ES6</p>
              <p>Stimulus.js</p>
              <p>node.js</p>
              <p>React</p>
              <p>TypeScript</p>
              <p>Next.js</p>
              <p>MongoDB</p>
              <p>Github</p>
              <p>Heroku</p>
              <p>Ruby on Rails</p>
              <p>PostgreSQL</p>
              <p>Go</p>
              <p>Unity</p>
              <P>Python</p>
              <p>Django</p>
              <p>C, C++, and C#</p>
            </div>
          </div>
          <h3>Other<img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgv2iX_xRud48a6G2hpd_6lUOMHAIb352V4uwPA3nNk6qHkyCyvYtMGp6kmeoWQ-sHuKkM-zrhhJt1Ajp9Zt3WDQCzdMoyErnzTnUl8RP2N0hI93ds7Q-dObO57z0VKrPoQBYw4gSWL53xI/s800/tv_video_hensyu.png" alt="other" class="illust"></h3>
          <div class="favorites-section">
            <div class="favorites-list gradient-purple">
              <p>Adobe Premiere Pro</p>
              <p>Live2D Cubism</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
