.text-center {
text-align: center;
}

.language-tabs{
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.favorites-container {

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}

.favorites-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-self: center;
}

.favorites-list {
  width: 910px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // width: 900px;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;

  p {
    width: 300px;
  }
}
.favorites-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.favorites-2 {
  grid-template-columns: 1fr 1fr;
}

.favorites-container-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.favorites-container-2 {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.tech-container-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tech-container-2 {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p{
    margin: 0 3px 5px 3px;
  }
}

.gradient-purple{
  border: 5px solid;
  border-image-slice: 1;
  // border-width: 5px;
  border-top: none;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.gradient-blue{
  border: 5px solid;
  border-image-slice: 1;
  // border-width: 5px;
  border-top: none;
  border-image-source: linear-gradient(to left, #05008C, #85D8FF);
}

@media (max-width: 770px) {
  .favorites-section {
    // width: 100%;
  }
}

@media (max-width: 767px) {
  .favorites-section {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .favorites-section {
    width: 250px;
  }
}

@media (max-width: 375px) {
  .tech-container-2 {
    align-items: center;
    p {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 990px) {
  .favorites-list {
    p {
      width: 250px;
    }
  }
}
