.project-card {
  width: 100%;
  padding-bottom: 40px;
}

.project-card-top {
  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  // justify-content: space-between;

  // -webkit-flex-wrap: wrap;
  // -ms-flex-wrap: wrap;
}

.project-description {
  width: 50%;
  margin-right: 10px;
  margin-bottom: 16px;

  i {
    font-size: 20px;
    color: white;
    opacity: 0.6;
    transition: all 0.3s;
  }
  i:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}

.vtuberlist-header {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}
// .vtuberlist-body {
//   margin-right: 20px;
// }

.project-pictures {
  width: 50%;
  display: flex;
  justify-content: center;

  // flex-direction: column;
}
.project-photo {
  // max-width: 650px;
  // max-height: 500px;
  width: 600px;
  margin: 20px;
  border: 0.5rem solid #4760ff;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.5);
  display: block;

  // justify-self: center;
}
.photo-medium {
  height: auto;
  width: auto;
  max-width: 650px;
  max-height: 500px;
}

#vtuberlist-photo-home {
  max-width: 100%;

  // margin: 10px;
  border: 0.5rem solid #4760ff;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.5);
  object-fit: contain;

  // display: block;
}
// .photo-large {
//   width: auto;
//   height: 100%;
//   max-width: 100%;
//   // max-height: 500px;
//   height: auto;
//   object-fit: cover;
// }

.project-card-bottom {
  display: flex;
  justify-content: center;
}

#vtuberlist-photo-home {
  // width: 75%;
}

.secret-form {
  // width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 5px;
  }
}

.password-box {
  width: 200px;
  margin-bottom: 5px;
  margin-top: 0px;
}

#password {
  width: 150px;
}

.link-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: purple;

  transition: all 0.2s;
}

.link-button:hover {
  text-decoration: none;
  background-color: #246DFF;
  transform: scale(120%);
  color: white;

  transition: all 0.2s;

}

.soundcloud {
  margin-top: 10px;
  margin-bottom: 20px;
}

.vtuber-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#vtuber-list-carousel {
  display: flex;
  justify-content: center;
  width: 1000px;
}
.vtuber-list-picture {
  height: 650px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 650px;
    width: 900px;
  }
}

.carousel-buttons {
  background-color: black;
}



.crok-carousel-container {
  width: 50%;
  height: 570px;
  display: flex;
  justify-content: center;
}
#crok-carousel {
  width: 260px;
  display: flex;
  justify-content: center;
}
.crok-picture {
  width: 360px;
  // max-width: 650px;
  // max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 500px;
  }
}

#footer {
  height: 10vh;
}

.illust{
  height: 150px;
  margin-left: 5px;
}


@media (max-width: 1400px) {
  .project-card-top {
    flex-direction: column;
  }
  .project-description {
    width: 100%;
    margin-right: 0;
  }
  .project-pictures {
    width: 100%;
  }
  .crok-carousel-container {
    width: 100%;
  }

  // .container {
  //   padding: 0;
  // }
}

@media (max-width: 1200px) {
  .vtuber-list-picture {
    width: 100%;
    img {
      max-height: 650px;
      width: 700px;
    }
  }
  .vtuber-carousel-container {
    height: 600px;
  }
  #vtuber-list-carousel {
    width: 90%;
  }

  .vtuber-list-picture {
    height: 600px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 880px) {
  #vtuber-list-carousel {
    height:400px;
    width: 100%;
  }
  .vtuber-list-picture {
    width: 100%;
    img {
      max-height: 400px;
      width: 525px;
    }
  }
  .vtuber-carousel-container {
    height: 350px;
  }
  // #vtuber-list-carousel {
  //   width: 90%;
  // }

  .vtuber-list-picture {
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .vtuber-list-picture {
    img {
      max-height: 650px;
      width: 80%
    }
  }
  .vtuber-carousel-container {
    width: 100%;
   }
  #vtuber-list-carousel {
    width: 100%;
    height: 350px;
  }

  .vtuber-list-picture {
    height: 325px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-large {
    width: 100%;
  }

  .vtuber-list-picture {
    img {
      // max-height: 650px;
      width: 100%
    }
  }

  #vtuber-list-photo-home {
    -webkit-order: 1;
    -ms-order: 1;
  }
  .vtuberlist-body {
    -webkit-order: 2;
    -ms-order: 2;
  }
}

@media (max-width: 575px) {
  .project-card-top {
    // margin: 0 20px 0 20px;
  }
  .vtuberlist-header {
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 430px) {
  #vtuber-list-carousel {
    height: 300px;
  }

  .vtuber-list-picture {
    height: 300px;
  }
  .vtuber-carousel-container {
    height: 300px;
  }

}

// @media (max-width: 430px) {
//   #vtuberlist-photo-home {
//     width: 80%;
//   }
//   .vtuber-list-picture {
//     width: 80%;
//     img {
//       max-height: 650px;
//       width: 80%;
//     }
//   }
//   // .vtuber-carousel-container {
//   //   width: 700px;
//   // }
//   #vtuber-list-carousel {
//     width: 100%;
//   }

//   .vtuber-list-picture {
//     height: 650px;
//     width: 80%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }
