.socials {
  background-color: black;
  height: 4rem;
  width: 100%;
  // padding: 50px;
  color: white;

  i {
    font-size: 30px;
    padding: 0;
  }

  transition: all 0.1s;
}

.button-social {
  padding: 0px;
  // margin: 0 20px 0 20px;
  width: 60px;
  height: 4rem;
  transition: all 0.3s;
  i{
    transition: all 0.3s;
  }
}

.button-social:hover{
  i{
    color: skyblue;
    font-size: 35px;
    transition: all 0.3s;
  }
}
